
.primary-nav {
	.mob-navbar-header {
		width: 100px !important;
		margin-right: 15px;
		text-align: right;
		z-index: 99;
		
		> * {
			display: inline-block;
			vertical-align: middle;
		}
	}
}

.mob-navbar-header {
	.icon-bar{
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	.search-head {
		font-size: 0;
		line-height: 1;
		margin-bottom: 1px;
	}
}

.search-box{
	z-index: 1 !important;
	top: 64px;
}

.wm_main_nav_toggle {
    margin: 3px 0 7px 10px;
    padding: 0;
}

.search-box{
	height: 100%;
    overflow: auto;
	z-index: 1022;
}

.main_nav_header,
.main_nav_footer,
.wm_megamenu_toggle{
	display: none;
}
.wm_nav_secondary_links_xs{
	.wm_nav_secondary_links{
		display: none;
	}
}
@media (min-width:768px) and (max-width:1200px){
	.primary-nav{
		&.navbar-expand-md {
			.navbar-nav {
				
				.dropdown-toggle{
					&:after {
						right: -4px;
						width: 10px;
						height: 5px;
						background-size: contain;
						top: 15px;
					}
				}
			}
		}
	}
}
@media (min-width:768px) and (max-width:991px){
	.primary-nav{
		
		.navbar-brand {
			
			img{
				max-width: 150px;
			}
		}
		
		&.navbar-expand-md {
			.navbar-nav {
				.dropdown-menu {
					position: absolute; 
			   }
			   .nav-link {
					padding-right: 0.8rem;
					padding-left: 0.8rem;
				}
				
			}
		}
		
		.shortLinks ul li {
			display: inline-block;
			margin: 0 0 12px 5px;
			
			&.search-head{
				margin-right: 0;
				
				img{
					width: 16px;
				}
			}
			
			a{
				font-size: 12px;
			}
		}
	}
}
@media (max-width:767px){
	html{
		
		&.nav-opened{
			overflow: hidden;
			
			
			.wm_main_nav_toggle{
				opacity: 0;
			}
			
			.main_nav {
				.wm_main_nav_toggle{
					opacity: 1;
				}
			}
			
			
			
			body{
				overflow: hidden;
				
				> *:not(header){
					transform: translate3d(30% ,0,0);
				}
			}
		}
		
		body{

			> *:not(header){
				transform: translate3d(0,0,0);
				transition: all 0.35s ease;
			}
		}
	}
	body{
		&.logged-in{
			.wm_nav_secondary_links{
				 ul li {
					float: none;
					width: auto;
					text-align: center;
				}
			}
		}
	}
	header{
		&.sticky-top{
			padding: 0;
			position: relative;
		}
		
		.main_nav {
			padding-top: 0;
			height: 100vh;
			overflow: auto;
			left: -100%;
			transition: left 0.25s ease;
			z-index: 1023;
			
			&.nav-open{
				left: 0;
			}
		}
		
		.member_acc_link{
			color: #00B162;
			position: relative;
			top: -1px;
			margin-left: 8px;
			
			a{
				color: inherit;
			}
		}
	}
	.main_nav {
		.wm_main_nav_toggle{
			opacity: 0;
			transition: all 0.3s ease;
		}
	}
	.mob-navbar-header .now .icon-bar:nth-child(1),
	.mob-navbar-header .now .icon-bar:nth-child(3) {
		background: #aeaeae;
	}
	.main_nav_header{
		position: relative;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-ms-flex-align: center;
		align-items: center;
		-ms-flex-pack: justify;
		justify-content: space-between;
		box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.4);
		margin: 0 -10px;
	}
	.main_nav_footer{
		display: block;
		margin: 6.5em -10px -10px;
		
		footer{
			box-shadow: 0px -8px 8px rgba(0, 0, 0, 0.03);
		}
	}
	.wm_nav_secondary_links{
		display: none;
		
		&:after {
			content: '';
			display: block;
			clear: both;
		}
		
		li.search-head{
			display: none;
		}
		
		ul li {
			float: left;
			width: 50%;
			margin: 0;
			padding: 0 5px;
			
			&:nth-child(2) {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
		}
		
		.login_button {
			background: #fff;
			display: block;
			border: 1px solid #01b162;
			padding: .375rem .75rem;
			font-size: 14px;
			line-height: 1.5;
			border-radius: .25rem;
			font-weight: 500;
			text-align: center;
			white-space: nowrap;
			vertical-align: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			text-transform: uppercase;
			font-family: 'Open Sans',sans-serif;
			text-decoration: none;
		}
		.signup_button {
			display: block;
			text-transform: uppercase;
			font-weight: 500;
			font-family: 'Open Sans',sans-serif;
		}
	}
	.wm_nav_secondary_links_xs{
		margin: 1em 0 0.75em;
		
		.wm_nav_secondary_links{
			display: block;
		}
	}
	

	.primary-nav{
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding: 0; 
		
		.navbar-brand {
			margin-left: 15px;
			margin-right: 0;
			padding: 0.95rem 0;
			font-size: 0;
			line-height: 1;
			position: relative;
			z-index: 99;
			
			img{
				max-width: 170px;
				margin: 0;
			}
		}
		
		.main_nav {
			display: block !important;
			
			.navbar-brand {
				/*margin-left: 5px;*/
			}
			.mob-navbar-header{
				/*margin-right: 5px;*/
			}
		}
		
		&.navbar{
			.navbar-nav {
				> li{
					> .nav-link {
						margin-bottom: 0.5em;
						background: #F8F8F8;
						color: #40473E;
						font-weight: bold;
						text-align: left;
						padding: 0.575rem 0.95rem;
						white-space: normal;
						border-radius: .25rem;
						
						
						&:before{
							display: none !important;
						}
						
						&.dropdown-toggle{
							&:after {
								right: 15px;
							}
						}
					}
					
					&.show{
						> .nav-link {
							background: #0a934a;
							color: #fff;
							
							&.dropdown-toggle{
								&:after {
									background-image: url(../images/DropdownArrow_white.svg);
									-webkit-transform: rotate(180deg);
									transform: rotate(180deg);
								}
							}
						}
					}
				}
			}
			
			.nav-link{
				font-size: 14px !important;
			}
		}
		
		.navbar-nav {
			li{
				&.show{
					.dropdown-menu {
						display: block;
						width: 100%;
						top: 0;
						border: none;
						z-index: 1;
						padding: 0 0 0.75rem;
						min-width: 0;
						border-radius: 0;
						-webkit-box-shadow: none;
						box-shadow: none;
						
						&:before{
							display: none !important;
						}
					}
				}
			}
		}
		.menu-item.dropdown {
			.dropdown-menu {
				a {
					padding: 0.75em 0;
					display: block;
					border-bottom: 0;
					
					&:hover {
						border-bottom-color: #fff;
					}
				}
				
				.divider-submenu {
					> li{
						&:first-child {
							a {
								padding-top: 0;
							}
						}
					}
				}
			}
		}
		
		.dropdown-menu > li {
			padding: 0 1.75em;
		}
		
	}
	.divider-block {
		padding: 10px 1.75em;
		margin: 0 -1.75em;
		
		a{
			font-size: 14px; 
		}
		h4 {
			margin-bottom: 0.5em;
		}
	}
	
	.search-form {
		.form-control {
			background: none;
		}
	}
	.search-box{
		top: 50px;
			
		.close-search{display: none;}
	}
	.wm_megamenu_toggle{
		display: block;
		color: #40473E;
		font-weight: bold;
		text-align: left;
		padding: 0.8rem 0;
		white-space: normal;
		margin: 0 1.2rem;
		font-size: 14px;
		border-bottom: 2px solid #ddd;
		position: relative;
		
		&:after {
			content: "";
			position: absolute;
			top: 17px;
			background-image: url(../images/DropdownArrow.svg);
			background-repeat: no-repeat;
			border: none;
			width: 13px;
			height: 7px;
			right: 0;
			margin-left: 0.555em;
		}
		
		&.show{
			&:after {
				background-image: url(../images/DropdownArrow_green.svg);
				-webkit-transform: rotate(180deg);
				transform: rotate(180deg);
			}
		}
	}
	
	.dropdown-menu{
		 > .wm_megamenu_toggle:not(.show):last-of-type {
			border-bottom: 0;
		}
	}
	
	.block-dropdown{
		padding: 0.5rem 1.2rem;
		
		ul {
			padding: 0 1rem;
			
			li:first-child{
				display: none;
			}
		}
	}
	
	.footer_menu {
		margin-bottom: 3em;
	}
	.footer-nav{
		display: block;
		
		li{
			padding: 0 1em;
		}
	}
	.footer_logo_icon{
		margin-bottom: 1em;
	}
	
	footer{
		.social_icons{
			ul{
				display: block;
				
				li{
					padding: 0 0.25em;
				}
			}
		}
	}
}

@media (max-width:310px){
	.primary-nav {
		.navbar-brand {
			img {
				max-width: 150px;
			}
		}
	}
}