.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    font-family: $font__h;
    border: 1px solid;
    border-color: $color__border-button;
    border-radius: 0;
    background: $color__background-button;
    color: rgba(0, 0, 0, .8);
    @include font-size(1);
    line-height: 1;
    padding: .25em 1em;
    cursor:pointer;

    &:hover {
            border-color: $color__border-button-hover;
            opacity: 0.9;
    }

    &:active,
    &:focus {
            border-color: $color__border-button-focus;
    }
    
    &.fw-btn{
        width: 100%;
    }
        
}

